.containerTB{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.table{

    width: 70%;
    height: 20vh;

}

.Qt{

    text-align: right;

}
.containerBtn{

    display: inline-block;

}
.button{

    width: 10%;

}